<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="创建动态">新动态</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/static/blog/libs/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/static/blog/libs/codemirror-5.52.0/lib/codemirror.css">
    <style>
        .CodeMirror {
            border: 1px solid #eeeeee;
            height: 500px;
            padding: 0;
            font: 15px / normal 'Monaco','Menlo','Ubuntu Mono','Consolas','source-code-pro',monospace;
        }
    </style>
</head>
<body>
<div th:replace="/console/common/head-navbar::headnav('moment')"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-light">1</button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-light">
                        <i data-feather="circle"></i>
                    </button>
                </div>
                <div class="btn-group" role="group" aria-label="Third group">
                    <button type="button" data-toggle="modal" data-target="#staticBackdrop" class="btn btn-light">8</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="mb-3">
                <textarea name="content" id="content" cols="30" rows="20" class="form-control"></textarea>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-5">
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">开启密码保护</label>
            </div>
        </div>
        <div class="col-7">
            <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-light">?</button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-warning">草稿
                    </button>
                </div>
                <div class="btn-group" role="group" aria-label="Third group">
                    <button type="button" class="btn btn-outline-dark">发布</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="mb-3">
            <div class="row row-sm">
                <div class="col-5">
                    <label class="form-label" for="passwordProtect">
                        密码保护
                        <span class="form-label-description">
                                <label class="form-check form-check-inline cursor-pointer">
                                      <input class="form-check-input" id="passwordProtectEnable" type="checkbox">
                                      <span class="form-check-label">启用</span>
                                </label>
                            </span>
                    </label>
                    <input type="text" class="form-control" disabled id="passwordProtect">
                </div>
            </div>
        </div>
        <div class="btn-list mb-3 justify-content-end">
            <a href="javascript:void(0);" id="btn-cancel" class="btn btn-outline-danger">取消发布</a>
            <a href="javascript:void(0);" id="btn-create" class="btn btn-primary">立即发布</a>
        </div>
        <div class="mb-3">
            <div class="form-label">评论设置</div>
            <div>
                <label class="form-check form-check-inline">
                    <input id="allowComment" class="form-check-input" type="checkbox" checked>
                    <span class="form-check-label form-label">开启</span>
                </label>
            </div>
        </div>
    </div>
</div>

<!-- FileImage -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/static/blog/libs/jquery/jquery-3.5.1.js}"></script>
<script type="text/javascript" th:src="@{/static/blog/libs/bootstrap/js/bootstrap.bundle.js}"></script>
<script type="text/javascript" th:src="@{/static/blog/libs/sweetalert/sweetalert2-2.9.js}"></script>
<script type="text/javascript" th:src="@{/static/blog/js/Toast.js}"></script>
<script type="text/javascript" src="/static/blog/libs/codemirror-5.52.0/lib/codemirror.js"></script>
<script type="text/javascript" src="/static/blog/libs/codemirror-5.52.0/addon/edit/continuelist.js"></script>
<script type="text/javascript" src="/static/blog/libs/codemirror-5.52.0/addon/display/fullscreen.js"></script>
<script type="text/javascript" src="/static/blog/libs/codemirror-5.52.0/mode/markdown/markdown.js"></script>
<script type="text/javascript" src="/static/blog/libs/codemirror-5.52.0/addon/mode/overlay.js"></script>
<script type="text/javascript" src="/static/blog/libs/codemirror-5.52.0/addon/display/placeholder.js"> </script>
<script type="text/javascript" src="/static/blog/libs/codemirror-5.52.0/addon/selection/mark-selection.js"> </script>
<script type="text/javascript" src="/static/blog/libs/codemirror-5.52.0/mode/gfm/gfm.js"></script>
<script type="text/javascript" src="/static/blog/libs/codemirror-5.52.0/mode/xml/xml.js"></script>

<script>

    const rootPath = '[[@{/}]]';
    document.getElementById('passwordProtectEnable').addEventListener('click', function(){
        if(this.checked){
            document.getElementById('passwordProtect').disabled='';
        } else {
            document.getElementById('passwordProtect').disabled = 'disabled';
            document.getElementById('passwordProtect').value = '';
        }
    });

    let editor = CodeMirror.fromTextArea(document.getElementById('content'), {
        mode: 'markdown',
        lineNumbers: true,
        tabSize: 2,
    });

    document.getElementById('btn-create').addEventListener('click',function(){
        // let content = document.getElementById('content').value;
        let content = editor.getValue();
        console.log("content", content);
        if(content == null || content === '' || content.trim().length === 0){
            Swal.fire({
                title: '内容不能为空',
                text: "",
                icon: 'error',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '确定'
            });
            return ;
        }

        fetch(rootPath + 'console/moment/save', {
            body: JSON.stringify({
                'content': content,
                'allowComment': document.getElementById('allowComment').checked
            }),
            headers: new Headers({
                'Content-Type': 'application/json;charset=UTF-8',
            }),
            method: 'POST'
        }).then(res => res.json()).catch(error => {
            console.log(error);
            toast('发布失败');
        }).then(response => {
            console.log(JSON.stringify(response));
            toast("发布成功");
            setTimeout(function(){
                window.location.href= rootPath + 'console/moments';
            }, 800);
        });
    });

    document.getElementById('btn-cancel').addEventListener('click', function(){
        Swal.fire({
            title: '确定要返回吗?',
            text: '返回将不会保存您的任何数据，您的数据将会被丢失',
            icon: 'warning',
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '确定',
            showCancelButton: true,
            cancelButtonText: '取消'
        }).then(function(result){
            if(result.value){
                window.location.href = rootPath + 'console/moments';
            }
        });
    });
</script>
</body>
</html>