<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="修改动态">修改动态</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/static/images/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/tabler/dist/css/tabler.min.css">
    <link rel="stylesheet" href="/static/tabler/dist/css/tabler-buttons.min.css"/>
    <link rel="stylesheet" href="/static/tabler/dist/css/demo.min.css">
    <style>
        body {
            display: none;
        }

        .form-check-inline{
            margin-right: 0 !important;
        }
    </style>
</head>
<body class="antialiased">
<div class="page">
    <div th:replace="/console/common/head-navbar::headnav('moment')"></div>
    <div class="content">
        <div class="container-xl">
           <div class="row">
               <div class="col-12">
                   <div class="mb-3">
                       <label for="content" class="form-label">正文
                           <span class="form-label-description">
                                    <label class="form-check form-check-inline cursor-pointer">
                                      <input class="form-check-input" type="checkbox">
                                      <span class="form-check-label">启用配图</span>
                                    </label>
                                </span>
                       </label>
                       <textarea name="content" id="content" cols="30" rows="20" class="form-control" th:text="${moment.content}" style="resize: none;"></textarea>
                   </div>
                   <div class="mb-3">
                       <div class="row row-sm">
                           <div class="col-5">
                               <label class="form-label" for="passwordProtect">
                                   密码保护
                                   <span class="form-label-description">
                                            <label class="form-check form-check-inline cursor-pointer">
                                                  <input class="form-check-input" id="passwordProtectEnable" type="checkbox">
                                                  <span class="form-check-label">启用</span>
                                            </label>
                                        </span>
                               </label>
                               <input type="text" class="form-control" disabled id="passwordProtect">
                           </div>
                       </div>
                   </div>
                   <div class="mb-3">
                       <div class="form-label">评论设置</div>
                       <label class="form-check form-check-inline cursor-pointer">
                           <input class="form-check-input" id="allowComment" th:checked="${moment.allowComment}" type="checkbox">
                           <span class="form-check-label form-label">开启</span>
                       </label>
                   </div>
                   <div class="btn-list mb-3 justify-content-end">
                       <a href="javascript:void(0);" id="btn-cancel" class="btn btn-outline-danger">取消修改</a>
                       <a href="javascript:void(0);" id="btn-moment-update" th:data-momentid="${moment.id}" class="btn btn-success">保存修改</a>
                    </div>
               </div>
           </div>
        </div>
        <footer class="footer footer-transparent">
            <div class="container">
                <div class="row text-center align-items-center flex-row-reverse">
                    <div class="col-lg-auto ml-lg-auto">
                        <ul class="list-inline list-inline-dots mb-0">
                            <li class="list-inline-item"><a href="./docs/index.html" class="link-secondary">Documentation</a></li>
                            <li class="list-inline-item"><a href="./faq.html" class="link-secondary">FAQ</a></li>
                            <li class="list-inline-item"><a href="https://github.com/tabler/tabler" target="_blank" class="link-secondary">Source code</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                        Copyright © 2020
                        <a href="." class="link-secondary">Tabler</a>.
                        All rights reserved.
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>


<!-- Libs JS -->
<script type="text/javascript" src="/static/tabler/dist/libs/jquery/dist/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/static/tabler/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- Tabler Core -->
<script type="text/javascript" src="/static/tabler/dist/js/tabler.min.js"></script>
<script type="text/javascript" src="/static/tabler/dist/libs/sweetalert2/sweetalert2-2.9.js"></script>
<script type="text/javascript" src="/static/tabler/dist/libs/sweetalert2/Toast.js"></script>
<script>
    document.body.style.display = "block";
</script>
<script>
    document.getElementById('passwordProtectEnable').addEventListener('click', function(){
        if(this.checked){
            document.getElementById('passwordProtect').disabled='';
        } else {
            document.getElementById('passwordProtect').disabled = 'disabled';
            document.getElementById('passwordProtect').value = '';
        }
    });

    document.getElementById('btn-moment-update').addEventListener('click',function(){
        let content = document.getElementById('content').value;
        if(content == null || content === '' || content.trim().length === 0){
            Swal.fire({
                title: '内容不能为空',
                text: "",
                icon: 'error',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '确定'
            });
            return ;
        }

        fetch('/console/moment' +$(this).data('momentid')+ '/update', {
            body: JSON.stringify({
                'content': content,
                'allowComment': document.getElementById('passwordProtect').checked
            }),
            headers: new Headers({
                'Content-Type': 'application/json;charset=UTF-8',
            }),
            method: 'POST'
        }).then(res => res.json()).catch(error => console.error('Error:',error)).then(response => {
            console.log(JSON.stringify(response));
            toast("发布成功");
            setTimeout(function(){
                window.location.href='/console/moments';
            }, 800);
        });
    });

    document.getElementById('btn-cancel').addEventListener('click', function(){
        Swal.fire({
            title: '确定要返回吗?',
            text: '返回将不会保存您的任何数据，您的数据将会被丢失',
            icon: 'warning',
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '确定',
            showCancelButton: true,
            cancelButtonText: '取消'
        }).then(function(result){
            if(result){
                window.location.href = '/console/moments';
            }
        });
    });


</script>
</body>
</html>