<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="动态列表">动态列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/static/css/base.css}">
    <link rel="stylesheet" th:href="@{/static/blog/libs/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/blog/libs/markdown/github-markdown.css}">
</head>
<body>
<div th:replace="/console/common/head-navbar::headnav('moment')"></div>
<div class="container">
    <form th:action="@{/console/moments}" method="get" id="queryForm">
        <div class="row my-4">
            <div class="col-9">
                <div class="media bg-white p-4 rounded shadow-sm">
                    <img src="/static/blog/images/logoH.png" class="mr-3 rounded align-self-center" alt="...">
                    <div class="media-body">
                        <h3 class="mt-0" style="font-weight: 600; color: #222222;">石杉的架构笔记</h3>
                        <div>Java 开发工程师 @湖北良品铺子食品有限公司</div>
                        <div>Java、Android、Web</div>
                    </div>
                </div>
                <ul class="list-unstyled bg-white rounded shadow-sm mt-4">
                    <li class="media" style="padding: 15px; border-bottom: 1px solid #eeeeee;" th:each="moment : ${momentPage.data}">
                        <img src="/static/blog/images/logoH.png" style="height: 32px; width: 32px; margin-right: 10px" class="rounded" alt="...">
                        <div class="media-body">
                            <div class="text-muted" style="font-size: 12px;">
                                <span><a href="">selfassu</a></span>
                                <span style="padding-left: 4px; padding-right: 4px;">•</span>
                                <span>2020-09-02 15:24:12</span>
                            </div>
                            <div class="markdown-body mt-1" th:utext="${moment.content}"></div>
                            <div class="float-right">
                                <a th:href="@{/moment/} + ${moment.id}">查看</a>
                                <a th:href="@{/console/moment/} + ${moment.id} + '/edit'">编辑</a>
                            </div>
                        </div>
                    </li>
                </ul>

                <ul class="pagination justify-content-center m-0 ml-auto" th:if="${momentPage.totalPage > 0}">
                    <li class="page-item" th:classappend="${momentPage.currentPage == 1 ? 'disabled' : ''}">
                        <a class="page-link" href="javascript:void(0);" th:onclick="'toPage(1);'" tabindex="-1">
                            <<
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${momentPage.currentPage == 1 ? 'disabled' : ''}">
                        <a class="page-link" href="javascript:void(0);" th:onclick="'toPage(' + ${momentPage.currentPage - 1} + ');'" tabindex="-1">
                            <
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${momentPage.currentPage == item ? 'active' : ''}" th:each="item: ${#numbers.sequence(1, momentPage.totalPage)}">
                        <a class="page-link" href="javascript:void(0);" th:onclick="'toPage(' + ${item} + ');'" th:text="${item}">1</a>
                    </li>
                    <li class="page-item" th:classappend="${momentPage.currentPage == momentPage.totalPage ? 'disabled' : ''}">
                        <a class="page-link" href="javascript:void(0);" th:onclick="'toPage(' + ${momentPage.currentPage + 1} + ');'">
                            >
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${momentPage.currentPage == momentPage.totalPage ? 'disabled' : ''}">
                        <a class="page-link" href="javascript:void(0);" th:onclick="'toPage(' + ${momentPage.totalPage} + ');'">
                            >>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <div class="card border-0 bg-white shadow-sm">
                    <div class="card-header bg-white" style="font-weight: 600; color: #222222;">
                        个人成就
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item border-0">掘金共建者</li>
                        <li class="list-group-item border-0">发布动态数<strong class="ml-2">723</strong></li>
                        <li class="list-group-item border-0">动态被阅读<strong class="ml-2">182,723</strong></li>
                        <li class="list-group-item border-0">动态被评论<strong class="ml-2">12,999</strong></li>
                        <li class="list-group-item border-0">最近发布时间<strong class="ml-2">2020-09-02</strong></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <a th:href="@{/console/moment/create}" class="btn btn-primary" id="btn-create">新动态</a>
            </div>
        </div>
        <input type="hidden" id="currentPage" name="currentPage" th:value="${momentPage.currentPage}">
    </form>
</div>


<script type="text/javascript" th:src="@{/static/blog/libs/jquery/jquery-3.5.1.js}"></script>
<script type="text/javascript" th:src="@{/static/blog/libs/bootstrap/js/bootstrap.bundle.js}"></script>
<script>
    function toPage(i){
        document.getElementById('currentPage').value = i;
        document.getElementById('queryForm').submit();
    }
</script>
</body>
</html>