<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="新文章">新文章</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/static/blog/libs/editor/editor.css}">
    <link rel="stylesheet" href="/static/blog/libs/codemirror-5.52.0/lib/codemirror.css">
    <link rel="stylesheet" href="/static/blog/libs/bootstrap/css/bootstrap.min.css">
</head>

<body id="toplevel">
    <div id="in">
        <form>
            <textarea id="code"># New Document</textarea>
        </form>
    </div>
    <div id="out" class="markdown-body"></div>

    <div id="menu">
        <span>Save As</span>
        <div id="saveas-markdown">
            <svg height="64" width="64" xmlns="http://www.w3.org/2000/svg">
                <g transform="scale(0.0625)">
                    <path d="M950.154 192H73.846C33.127 192 0 225.12699999999995 0 265.846v492.308C0 798.875 33.127 832 73.846 832h876.308c40.721 0 73.846-33.125 73.846-73.846V265.846C1024 225.12699999999995 990.875 192 950.154 192zM576 703.875L448 704V512l-96 123.077L256 512v192H128V320h128l96 128 96-128 128-0.125V703.875zM767.091 735.875L608 512h96V320h128v192h96L767.091 735.875z" />
                </g>
            </svg>
            <span>Markdown</span>
        </div>
        <div id="saveas-html">
            <svg height="64" width="64" xmlns="http://www.w3.org/2000/svg">
                <g transform="scale(0.0625) translate(64,0)">
                    <path d="M608 192l-96 96 224 224L512 736l96 96 288-320L608 192zM288 192L0 512l288 320 96-96L160 512l224-224L288 192z" />
                </g>
            </svg>
            <span>HTML</span>
        </div>
        <a id="close-menu">&times;</a>
    </div>
    <div id="navbar">
        <div id="navcontent">
            <p id="savebutton" title="Download" class="navbutton left" onclick="showMenu()">2</p>
            <p id="browsersavebutton" title="Browser Save (Experimental)" class="navbutton left" onclick="saveInBrowser()">3</p>
            <p id="newbutton" class="navbutton left hidden" onclick="clearEditor()">4</p>
            <p id="postButton" class="navbutton right" data-toggle="modal" data-target="#staticBackdrop">发布</p>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">发布文章</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">
                                文章标签
                            </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control"
                                       id="staticEmail" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="staticEmail1" class="col-sm-2 col-form-label">
                                文章分类
                            </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control"
                                       id="staticEmail1" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="staticEmail1" class="col-sm-2 col-form-label">
                                文章类型
                            </label>
                            <div class="col-sm-4">
                                <select class="form-control">
                                    <option value="0">原创</option>
                                    <option value="0">转载</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="staticEmail1" class="col-sm-2 col-form-label">
                                发布方式
                            </label>
                            <div class="col-sm-4">
                                <select class="form-control">
                                    <option value="0">实时</option>
                                    <option value="0">定时</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <input type="datetime-local" class="form-control"
                                       id="staticEmail2" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="staticEmail1" class="col-sm-2 col-form-label">
                                文章状态
                            </label>
                            <div class="col-sm-4">
                                <select class="form-control">
                                    <option value="0">原创</option>
                                    <option value="0">转载</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="staticEmail1" class="col-sm-2 col-form-label">
                                私密权限
                            </label>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        加锁
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <input type="datetime-local" class="form-control"
                                       id="staticEmail3" value="">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>

<!--    <script src="/static/blog/libs/codemirror-5.52.0/lib/markdown-it.js"></script>-->
<!--    <script src="lib/markdown-it-footnote.js"></script>-->
<!--    <script src="lib/highlight.pack.js"></script>-->
<!--    <script src="lib/emojify.js"></script>-->
    <script src="/static/blog/libs/jquery/jquery-3.5.1.js"></script>
    <script src="/static/blog/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/blog/libs/codemirror-5.52.0/lib/codemirror.js"></script>
    <script src="/static/blog/libs/codemirror-5.52.0/mode/overlay.js"></script>
    <script src="/static/blog/libs/codemirror-5.52.0/mode/xml/xml.js"></script>
    <script src="/static/blog/libs/codemirror-5.52.0/mode/markdown/markdown.js"></script>
    <script src="/static/blog/libs/codemirror-5.52.0/mode/gfm/gfm.js"></script>
    <script src="/static/blog/libs/codemirror-5.52.0/mode/javascript/javascript.js"></script>
    <script src="/static/blog/libs/codemirror-5.52.0/mode/css/css.js"></script>
    <script src="/static/blog/libs/codemirror-5.52.0/mode/htmlmixed/htmlmixed.js"></script>
    <script src="/static/blog/libs/codemirror-5.52.0/mode/util/continuelist.js"></script>
    <script src="index.js"></script>
    <script>
        let editor = CodeMirror.fromTextArea(document.getElementById('code'), {
            mode: "markdown",
            lineNumbers: false,
            matchBrackets: true,
            lineWrapping: true,
            extraKeys: {
                "Enter": "newlineAndIndentContinueMarkdownList"
            }
        });
    </script>
</body>
</html>