<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="文章列表">文章列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" th:href="@{/static/blog/images/logoH.png}" >
    <link rel="stylesheet" th:href="@{/static/css/base.css}">
    <link rel="stylesheet" th:href="@{/static/blog/libs/bootstrap/css/bootstrap.min.css}">
    <style>
        .list-group-item {
            border: none !important;
            border-top: 1px solid #eeeeee !important;
        }
        .backend-article-title {
            color: #222222;
            font-weight: 600;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div th:replace="/console/common/head-navbar::headnav('article')"></div>

<div class="container">
    <div class="row my-4">
        <div class="col-9">
            <div class="media bg-white p-4 rounded shadow-sm">
                <img src="/static/blog/images/logoH.png" class="mr-3 rounded align-self-center" alt="...">
                <div class="media-body">
                    <h4 style="font-weight: 600; color: #222222;">石杉的架构笔记</h4>
                    <div>Java 开发工程师 @湖北良品铺子食品有限公司</div>
                    <div>Java、Android、Web</div>
                </div>
            </div>

            <ul class="list-group list-group-flush bg-white shadow-sm mt-4">

                <li class="list-group-item">
                    <form method="get" th:action="@{/console/moment}">
                        <div class="form-row">
                            <div class="col-7">
                                <input type="text" class="form-control" placeholder="City">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="State">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Zip">
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-danger">搜索</button>
                            </div>
                        </div>
                    </form>
                </li>

                <li class="list-group-item" th:each="article : ${articlePage.data}">
                    <div class="mb-1 text-muted">
                        <small class="text-muted badge badge-light" th:text="${article.category.name}"></small>
                        <small class="text-muted mx-2">·</small>
                        <small class="text-muted" th:text="${#temporals.format(article.postAt, 'yyyy-MM-dd')}"></small>
                        <small class="text-muted mx-2">·</small>
                        <small>java/web</small>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <a class="mb-1 backend-article-title" th:text="${article.title}" th:href="@{/article/} + ${article.id}">
                            5个方案告诉你，高并发下先操作数据库还是先操作缓存?
                        </a>
                    </div>
                    <div class="float-right" style="font-size: 14px;">
                        <a class="text-decoration-none" href="javascript:void(0);" id="btn-set-top">置顶</a>
                        <a class="text-decoration-none" th:href="@{/article/} + ${article.id}">查看</a>
                        <a class="text-decoration-none" th:href="@{/console/article/} + ${article.id} + '/edit'">编辑</a>
                        <a class="text-decoration-none text-danger" href="javascript:void(0);" th:data-trash="${article.id}" id="btn-delete">删除</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-3">

            <a th:href="@{/console/article/create}" type="button" class="btn btn-danger btn-block">写文章</a>

            <div class="card border-0 bg-white shadow-sm mt-3">
                <div class="card-header bg-white" style="font-weight: 600; color: #222222;">
                    个人成就
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item border-0">掘金共建者</li>
                    <li class="list-group-item border-0">文章被阅读<strong class="ml-2">182,723</strong></li>
                    <li class="list-group-item border-0">文章被评论<strong class="ml-2">12,999</strong></li>
                    <li class="list-group-item border-0">动态被阅读<strong class="ml-2">323</strong></li>
                    <li class="list-group-item border-0">动态被评论<strong class="ml-2">323</strong></li>
                </ul>
            </div>

            <ul class="list-group list-group-flush shadow-sm rounded mt-4">
                <li class="list-group-item">收藏集 0</li>
                <li class="list-group-item">关注标签 12</li>
                <li class="list-group-item">加入于 2020-08-27</li>
            </ul>
        </div>
    </div>
</div>



<script type="text/javascript" th:src="@{/static/blog/libs/jquery/jquery-3.5.1.js}"></script>
<script type="text/javascript" th:src="@{/static/blog/libs/bootstrap/js/bootstrap.bundle.js}"></script>
<script type="text/javascript" th:src="@{/static/blog/libs/sweetalert/sweetalert2-2.9.js}"></script>
<script type="text/javascript" th:src="@{/static/blog/js/Toast.js}"></script>
<script type="text/javascript" th:src="@{/static/blog/libs/prism/prism.js}"></script>

<script>

    const rootPath = '[[@{/}]]';

    $(document).ready(function(){
        $("#btnSubmit").click(function (event) {

            //stop submit the form, we will post it manually.
            event.preventDefault();

            fire_ajax_submit();
        });
    });


    for(elem of document.querySelectorAll('a[data-trash]')){
        elem.addEventListener('click', function(){
            let id = this.dataset.trash;
            alert(id);
        })
    }


    function fire_ajax_submit() {
        // Get form
        $("#btnSubmit").prop("disabled", true);

        let data = {
            name: document.getElementById('name').value,
            sort: document.getElementById('sort').value,
            show: document.getElementById('show').checked
        }
    }

</script>
</body>
</html>