.primary-text-color {
    color: #303133;
}

.backend-article-title {
    font-weight: 500;
    font-size: 18px;
    color: #303133;
}
.backend-article-title:hover {
    font-weight: 500;
    font-size: 18px;
    color: #303133;
}