body{
    font-weight: 400 !important;
    line-height: 1.6 !important;
    margin: 0;
    font-family: Helvetica Neue,Luxi Sans,DejaVu Sans,Hiragino Sans GB,Microsoft Yahei,sans-serif,Apple Color Emoji,Segoe UI Emoji,Noto Color Emoji,Segoe UI Symbol,Android Emoji,EmojiSymbols !important;
    font-size: 16px !important;
}

button {
    outline: none !important;
}
a:focus, button:focus{
    outline: none !important;
}


.card {
    border-radius: 2px !important;
}

form {
    border-radius: 2px !important;
}

.form-control-sm {
    border-radius: 2px !important;
}

/*.form-control-sm:focus {*/
/*    box-shadow: none !important;*/
/*}*/

.title-article {
    color: #222226;
    font-weight: 600;
    margin: 0;
    word-break: break-all;
}

.title-article-index {
    font-size: 24px;
}

.title-article-detail {
    font-size: 28px;
}


.card {
    border-radius: 2px !important;
}

.markdown {
    font-size: 16px !important;
}

.markdown-body h1,.markdown-body h2,.markdown-body h3,.markdown-body h4,.markdown-body h5,.markdown-body h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.markdown-body h2 {
    border-bottom: 1px solid #eaecef;
    font-size: 1.55em;
}

.article-list-title {
    line-height: 20px !important;
    word-break: break-all !important;
}

.article-title-list-view{
    font-size: 18px !important;
    font-weight: 700 !important;
}

a {
    cursor: pointer !important;
    text-decoration: none !important;
    outline: none !important;
    color: #222226 !important;
}

a:hover{
    color: #222226 !important;
    text-decoration-color: #040404 !important;
}

.badge {
    text-transform: none !important;
}
.badge-addon {
    margin: 0 !important;
}