<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!-- 配置别名 -->
    <typeAliases>
        <typeAlias type="org.apache.ibatis.type.EnumOrdinalTypeHandler" alias="EnumOrdinalTypeHandler"/>
        <typeAlias type="org.apache.ibatis.type.EnumTypeHandler" alias="EnumTypeHandler" />
        <typeAlias type="me.lqw.blog8.plugins.mybatis.TagIdsTypeHandler" alias="TagIdsTypeHandler" />
        <package name="me.lqw.blog8.model"/>
        <package name="me.lqw.blog8.mapper.vo" />
    </typeAliases>

    <!-- 禁用 update delete 插件 -->
    <plugins>
        <plugin interceptor="me.lqw.blog8.plugins.mybatis.BatchUpdateOrDeleteForbiddenPlugins" />
    </plugins>

    <!-- mapper 配置 -->
    <mappers>
        <mapper resource="mapper/UserMapper.xml" />
        <mapper resource="mapper/CategoryMapper.xml" />
        <mapper resource="mapper/ArticleMapper.xml" />
        <mapper resource="mapper/ArticleTagMapper.xml" />
        <mapper resource="mapper/TagMapper.xml" />
        <mapper resource="mapper/MomentMapper.xml" />
        <mapper resource="mapper/CommentMapper.xml" />
        <mapper resource="mapper/BlackIpMapper.xml" />
        <mapper resource="mapper/BlogConfigMapper.xml" />
        <mapper resource="mapper/OperateLogMapper.xml" />
    </mappers>

</configuration>