<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${#strings.concat('编辑', fid.title)}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/static/css/base1.css}">
    <link rel="stylesheet" th:href="@{/static/blog/libs/markdown/github-markdown.css}">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <textarea th:text="${fid.content}" name="content" class="form-control" id="content" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>
</body>
</html>