<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="黑名单列表">黑名单列表</title>
    <link rel="stylesheet" th:href="@{/static/blog/libs/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div th:replace="/console/common/head-navbar::headnav('config')"></div>
<div class="container">
    <div class="row my-4">
        <div class="col-9">
            <div class="alert alert-danger" role="alert">
                位置信息仅供参考，不代表用户真实地理位置，根据 ip 地址解析出来
            </div>

            <ul class="list-unstyled bg-white shadow-sm mt-4">
                <li class="media" th:each="blackip : ${blackips}" style="border-radius: 4px; padding: 15px; border-bottom: 1px solid #eeeeee;">
                    <div class="media-body">
                        <div class="mt-0"><span class="badge badge-success" th:text="${blackip.ip}"></span></div>
                        <div>
                            <span class="text-muted" style="margin-right: 10px;" th:text="${#temporals.format(blackip.createAt, 'yyyy-MM-dd HH:mm')}">2020-09-02 15:24:12</span>
                            <span class="text-muted" th:text="广东·深圳"></span>
                        </div>
                        <div>
                            <a href="javascript:void(0);" th:data-trash="${blackip.id}">
                                <svg xmlns="http://www.w3.org/2000/svg" class="text-danger" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><line x1="4" y1="7" x2="20" y2="7"></line><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path></svg>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-danger btn-block" id="btn-create">新黑名单</button>
            <div class="card border-0 bg-white mt-4 shadow-sm">
                <div class="card-header bg-white" style="font-weight: 600; color: #222222;">
                    数据汇总
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item border-0">黑名单总数<strong class="ml-2" th:text="${blackips.size()}">723</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/static/blog/libs/jquery/jquery-3.5.1.js}"></script>
<script type="text/javascript" th:src="@{/static/blog/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/static/blog/libs/sweetalert/sweetalert2-2.9.js}"></script>
<script type="text/javascript" th:src="@{/static/blog/js/Toast.js}"></script>
<script type="text/javascript" th:src="@{/static/blog/js/file.js}"></script>

<script>

    const rootPath = '[[@{/}]]';
    document.getElementById('btn-create').addEventListener('click', function(){
        (async function getName(){
            const { value : ip} = await Swal.fire({
                title: 'ip',
                input: 'text',
                inputValue: '',
                showCancelButton: true,
                confirmButtonText: '确定',
                cancelButtonText: '取消'
            })
            if(ip){
                fetch(rootPath + 'console/blackip/save', {
                    method:'POST',
                    body: JSON.stringify({'ip': ip}),
                    headers: new Headers({
                        'Content-Type': 'application/json; charset=UTF-8'
                    })
                }).then(res => res.json())
                .catch(error => {
                    console.log('Error:', error);
                })
                .then(response => {
                    console.log('Success:', response);
                    toast('创建黑名单成功');
                    setTimeout(function(){
                        window.location.href = rootPath + 'console/blackips';
                    },800);
                });
            }
        })();
    })

    for(const elem of document.querySelectorAll('[data-trash]')){
        elem.addEventListener('click', function(){

            Swal.fire({
                title: '您确定吗?',
                text: "此操作不可逆, 您确定要把该 ip 从黑名单列表中移除吗?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '确定',
                cancelButtonText: '取消'
            }).then((result) => {
                if (result.value) {
                    let id = this.dataset.trash;

                    fetch(rootPath + 'console/blackip/' + id + '/delete', {
                        method: 'DELETE',
                        headers: new Headers({
                            'Content-Type': 'application/json; charset=UTF-8'
                        })
                    }).then(res => {
                        console.log('then:' + res);
                    }).catch(error => {
                        console.log('Error:' + error);
                    }).then(response => {
                        console.log('Success:' + response);
                        toast('该黑名单已被移除');
                        setTimeout(function() {
                            window.location.href = rootPath + 'console/blackips';
                        }, 800);
                    });
                }
            });
        });
    }
</script>
</body>
</html>