<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="文件管理">文件管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/static/blog/libs/bootstrap/css/bootstrap.min.css}">
</head>

<body>
    <div th:replace="/console/common/head-navbar::headnav('file')"></div>
    <div class="container">

        <div class="row my-4">
            <div class="col-9">
                <input type="file" name="file" multiple>
                <button type="button" class="btn btn-primary" id="btn-upload-file">上传</button>
                <button type="button" class="btn btn-primary" id="btn-show-create-modal">创建文件</button>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>名称</th>
                                <th>类型</th>
                                <th>大小</th>
                                <th>编辑</th>
                                <th>是否目录</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="file-container">
                            <tr>
                                <td>ReadMe.md</td>
                                <td>12M</td>
                                <td>可写可读</td>
                                <td>可写可读不可执行</td>
                                <td>
                                    <a href="javascript:void(0);">编辑</a>
                                    <a href="javascript:void(0);">删除</a>
                                    <a href="javascript:void(0);">复制</a>
                                    <a href="javascript:void(0);">移动</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-0 bg-white shadow-sm">
                    <div class="card-header bg-white" style="font-weight: 600; color: #222222;">
                        文件资源统计
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item border-0">文件总数<strong class="ml-2">723</strong></li>
                        <li class="list-group-item border-0">占用总磁盘空间<strong class="ml-2">182,723</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- 创建目录 -->
    <div class="modal fade" id="createFileModal" tabindex="-1" role="dialog" aria-labelledby="createFileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createFileModalLabel">创建文件/文件夹</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="fileName" class="col-form-label">名称</label>
                            <input type="text" class="form-control" id="fileName">
                        </div>
                        <div class="form-group">
                            <label for="fileType" class="col-form-label">类型</label>
                            <select id="fileType" class="form-control">
                                <option value="1">文件</option>
                                <option value="0">文件夹</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" id="btn-create-file" class="btn btn-primary">创建</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/static/blog/libs/jquery/jquery-3.5.1.js}"></script>
    <script type="text/javascript" th:src="@{/static/blog/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/blog/libs/sweetalert/sweetalert2-2.9.js}"></script>
    <script type="text/javascript" th:src="@{/static/blog/js/Toast.js}"></script>
<!--    <script type="text/javascript" th:src="@{/static/blog/js/file.js}"></script>-->

    <script>

        const rootPath = '[[@{/}]]';
        const config = {
            container: 'file-container',
            url: rootPath + 'console/file/query',
        };
        //
        window.onload = function() {
            fetch(config.url, {
                method: 'GET'
            }).then(response => response.json())
                .then(response => {
                    console.log('Success:', JSON.stringify(response));

                    let fileContainer = document.getElementById(config.container);

                    let html = "";

                    if (response.code === 200) {

                        const fileDataArray = response.data.data;

                        for (let i = 0; i < fileDataArray.length; i++) {
                            const fileData = fileDataArray[i];

                            html +=
                                '<tr>' +
                                '<td>' + fileData.fileName + '</td>' +
                                '<td>' + fileData.ext + '</td>' +
                                '<td>' + fileData.size + '</td>' +
                                '<td>' + fileData.canEdit + '</td>' +
                                '<td>' + fileData.directory + '</td>' +
                                '<td><a href="javascript:void(0);" data-edit="'+fileData.fileName+'">编辑</a></td>' +
                                '</tr>';
                        }
                        fileContainer.innerHTML = html;
                    }
                }).catch(error => {
                alert('获取数据错误');
            });
        }




        document.getElementById('btn-show-create-modal').addEventListener('click', function(){
            $('#createFileModal').modal('show');
        })


        document.getElementById('btn-create-file').addEventListener('click', function(){

            let fileName = document.getElementById('fileName').value;
            let fileType = document.getElementById('fileType').value;

            fetch(rootPath + 'console/file/create', {
                body: JSON.stringify({
                    'fileName': fileName,
                    'fileType': fileType
                }),
                headers: new Headers({
                    'Content-Type': 'application/json;charset=UTF-8',
                }),
                method: 'POST'
            }).then(res => res.json()).catch(error => {
                $("#btn-show-create-modal").modal('hide');
                console.log(error);
                toast('发布失败');
            }).then(response => {
                console.log(JSON.stringify(response));
                $("#btn-show-create-modal").modal('hide');
                toast("发布成功");
                setTimeout(function(){
                    window.location.href= rootPath + 'console/files';
                }, 800);
            });
        })

        // document.getElementById('btn-upload').addEventListener('click', function(){
        //     fire_ajax_submit();
        // })

        // $(document).ready(function(){
        //     $("#btnSubmit").click(function (event) {
        //
        //         //stop submit the form, we will post it manually.
        //         event.preventDefault();
        //
        //         fire_ajax_submit();
        //     });
        //
        //     $.get('/console/file/getQueryCriteriaNew', {}, function(data){
        //         console.log(data);
        //     });
        // });


        /**
         * 图片上传
         */
        document.getElementById('btn-upload-file').addEventListener('click', function(){

            const fileUploadFormData = new FormData();

            let files = document.querySelector("input[type='file'][multiple]");

            fileUploadFormData.append("extraField", "图片上传测试");
            fileUploadFormData.append("targetPath", "/Downloads")

            // formData 只接受文件、Blob 或字符串，不能直接传递数组，所以必须循环嵌入
            for(let i = 0; i < files.files.length; i++){
                fileUploadFormData.append("files", files.files[i]);
            }
            fetch(rootPath + 'console/file/upload', {
                method: 'POST',
                body: fileUploadFormData
            }).then(response => {
                return response;
            }).then(response => {
                console.log('Success:', JSON.stringify(response))
            }).catch(error => {
                console.error("图片上传失败" + error);
            });

        });
    </script>
</body>
</html>