body{
    display: none;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    margin: 0;
    font-family: Helvetica Neue,Luxi Sans,DejaVu Sans,Hiragino Sans GB,Microsoft Yahei,sans-serif,Apple Color Emoji,Segoe UI Emoji,Noto Color Emoji,Segoe UI Symbol,Android Emoji,EmojiSymbols !important;
    font-size: 14px !important;
}

.markdown {
    font-size: 16px !important;
}

a {
    cursor: pointer;
}

a:hover{
    text-decoration-color: #040404;
}