<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="关于">Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- bootstrap core css -->
    <link rel="stylesheet" th:href="@{/static/blog/libs/bootstrap/css/bootstrap.min.css}">
</head>
<body>

<div th:replace="header::head('article')"></div>

<main role="main">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>helloworld</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <img class="img-fluid" src="http://ghchart.rshah.org/selfassu" alt="2016rshah's Github chart" />
            </div>
        </div>
    </div>
</main>

<script type="text/javascript" th:src="@{/static/blog/libs/jquery/jquery-3.5.1.js}"></script>
<script type="text/javascript" th:src="@{/static/blog/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>