<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${article.title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/blog/css/front.css" th:href="@{/static/blog/css/front.css}">
    <link rel="stylesheet" href="/static/blog/libs/bootstrap/css/bootstrap.min.css" th:href="@{/static/blog/libs/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/static/blog/libs/prism/prism.css" th:href="@{/static/blog/libs/prism/prism.css}">
    <link rel="stylesheet" href="/static/blog/libs/markdown/github-markdown.css" th:href="@{/static/blog/libs/markdown/github-markdown.css}">
    <style>
        @media (max-width: 767px) {
            .markdown-body {
                padding: 15px;
            }
        }
    </style>
</head>
<body class="bg-light">
    <div th:replace="header::head('article')"></div>

    <!-- 主体部分 -->
    <main role="main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mb-5">
                    <h2 class="my-3">
                        <a class="title-article title-article-detail" href="javascript:void(0);" th:text="${article.title}">文章标题</a>
                    </h2>
                    <div class="markdown-body" th:utext="${article.content}"></div>
                </div>
            </div>
        </div>
    </main>


    <script type="text/javascript" src="/static/blog/libs/jquery/jquery-3.5.1.js" th:src="@{/static/blog/libs/jquery/jquery-3.5.1.js}"></script>
    <script type="text/javascript" src="/static/blog/libs/bootstrap/js/bootstrap.bundle.js" th:src="@{/static/blog/libs/bootstrap/js/bootstrap.bundle.js}"></script>
    <script type="text/javascript" src="/static/blog/libs/sweetalert/sweetalert2-2.9.js" th:src="@{/static/blog/libs/sweetalert/sweetalert2-2.9.js}"></script>
    <script type="text/javascript" src="/static/blog/js/Toast.js" th:src="@{/static/blog/js/Toast.js}"></script>
    <script type="text/javascript" src="/static/blog/libs/prism/prism.js" th:src="@{/static/blog/libs/prism/prism.js}"></script>

    <script>
        const rootPath = '[[@{/}]]';
        const articleId = '[[${article.id}]]'
        window.onload = function(){
            if(sessionStorage.getItem("article." + articleId) == null) {
                setTimeout(function(){
                    fetch(rootPath + 'article/'+articleId+'/hits', {
                        method: 'PUT',
                        headers: new Headers({
                            'Content-Type': 'application/json;charset=UTF-8'
                        }),
                    });
                }, 2000);
                sessionStorage.setItem("article." + articleId, articleId);
            }
        }
    </script>
</body>
</html>