<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${article.title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" th:href="@{/static/blog/images/logoH.png}" >
    <link rel="stylesheet" th:href="@{/static/blog/css/front.css}">
    <link rel="stylesheet" th:href="@{/static/blog/libs/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/blog/libs/prism/prism.css}">
    <link rel="stylesheet" th:href="@{/static/blog/libs/markdown/github-markdown.css}">
    <style>
        @media (max-width: 767px) {
            .markdown-body {
                padding: 15px;
            }
        }

        .blog-footer {
            padding: 2.5rem 0;
            margin-top: 32px;
            color: #999999;
            text-align: center;
            background-color: #f9f9f9;
            border-top: .05rem solid #e5e5e5;
        }
        .blog-footer p:last-child {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
    <div th:replace="header::head('article')"></div>

    <!-- 主体部分 -->
    <main role="main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <h2 class="my-3">
                        <a class="title-article title-article-detail" href="javascript:void(0);" th:text="${article.title}">文章标题</a>
                    </h2>
                    <div class="markdown-body" th:utext="${article.content}">
                        文章内容
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- 底部标注 -->
    <footer class="blog-footer">
        <div class="container">
            <p>京ICP备15031610号-30</p>
        </div>
    </footer>

    <script type="text/javascript" th:src="@{/static/blog/libs/jquery/jquery-3.5.1.js}"></script>
    <script type="text/javascript" th:src="@{/static/blog/libs/bootstrap/js/bootstrap.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/static/blog/libs/sweetalert/sweetalert2-2.9.js}"></script>
    <script type="text/javascript" th:src="@{/static/blog/js/Toast.js}"></script>
    <script type="text/javascript" th:src="@{/static/blog/libs/prism/prism.js}"></script>

    <script>
        const rootPath = '[[@{/}]]';
        const articleId = '[[${article.id}]]'
        window.onload = function(){
            if(sessionStorage.getItem("article." + articleId) == null) {
                setTimeout(function(){
                    fetch(rootPath + 'article/'+articleId+'/hits', {
                        method: 'PUT',
                        headers: new Headers({
                            'Content-Type': 'application/json;charset=UTF-8'
                        }),
                    });
                }, 2000);
                sessionStorage.setItem("article." + articleId, articleId);
            }
        }
    </script>
</body>
</html>