<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="留言板">Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/static/blog/libs/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/blog/libs/markdown/github-markdown.css}">

</head>
<body>

<div th:replace="header::head('guestbook')"></div>

<div class="container my-4">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12" id="comment-form"></div>
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12" id="comment-container"></div>
    </div>
</div>


<script type="text/javascript" th:src="@{/static/blog/libs/jquery/jquery-3.5.1.js}"></script>
<script type="text/javascript" th:src="@{/static/blog/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/static/blog/libs/sweetalert/sweetalert2-2.9.js}"></script>
<script>
    const rootPath = '[[@{/}]]';


    renderCommentForm('comment-form', '');


    function postComment(){
        let nickname = document.getElementById('nickname').value;
        let email = document.getElementById('email').value;
        let content = document.getElementById('content').value;
        let parentCommentId = document.getElementById('parentCommentId').value;

        if(nickname == null || nickname.trim().length === 0){
            alert('必须输入昵称');
            return;
        }
        if(email == null || email.trim().length === 0){
            alert('必须输入邮箱');
            return;
        }

        if(content == null || content.trim().length === 0){
            alert('必须输入内容');
            return;
        }

        let url = 'api/module/template/52/comment/save';

        let data = {
            'content': content,
            'email': email,
            'username': nickname
        }

        if(parentCommentId != null && parentCommentId !== ""){

            data.parent = {
                'id': parentCommentId
            }
        }


        fetch(rootPath + url, {
            method: 'POST',
            body: JSON.stringify(data),
            headers: new Headers({
                'Content-Type':'application/json;charset=UTF-8'
            })
        }).then(res => {
            return res.json();
        }).catch(error => {
            console.error('Error:', error)
        }).then(response => {
            console.log('response:' + JSON.stringify(response));
            if(response.code === 200){
                localStorage.setItem('commentUsername', nickname);
                localStorage.setItem('commentEmail', email);
                document.getElementById('content').value = '';
                loadComments(rootPath + 'api/module/template/52/comments');
            }
        });
    }

    window.onload = function(){
        let queryUrl = rootPath + 'api/module/template/52/comments?currentPage=1';
        loadComments(queryUrl);
    }


    /**
     * 加载评论
     * @param url url
     */
    function loadComments(url){

        fetch(url, {
            method: 'GET',
            headers: new Headers({
                'Content-Type': 'application/json;charset=UTF-8',
            })
        }).then(res => {
            return res.json();
        }).catch(error => {
            console.log('error:' + error);
        }).then(response => {
            let html = '<ul class="list-unstyled">';
            if(response.code === 200){
                let commentsPageData = response.data;
                let commentData = commentsPageData.data;
                for(let i = 0; i < commentData.length; i++){
                    html += "<li class='media py-2 border-bottom'>";
                    html +=     "<img src='/static/blog/images/default-user.png' style='height: 38px; width: 38px;' class='mr-3 rounded' alt='...'>";
                    html +=     "<div class='media-body'>";
                    html +=         "<div class='mt-0 mb-1'>";
                    if(commentData[i].admin){
                        html +=         "<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='#ff0000' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round' class='feather feather-star'><polygon points='12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2'></polygon></svg>";
                    }
                    html +=             "<span style='font-weight: 600;'>" + commentData[i].nickname + '</span>';
                    html +=             "<small style='font-size: 12px; margin-left: 10px;' class='text-muted'>"+ commentData[i].createTime +"</small>";
                    html +=             "</div>";
                    if(commentData[i].parent != null){
                        html += "<div class='text-muted'><svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='#6C757D' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round' class='feather feather-corner-down-right'><polyline points='15 10 20 15 15 20'></polyline><path d='M4 4v7a4 4 0 0 0 4 4h12'></path></svg><span style='margin-left: 10px;'>" + commentData[i].parent.nickname + "</span></a></div>";
                    }
                    html +=             "<div class='markdown-body'>" + commentData[i].content + "</div>";
                    html +=             "<div>";
                    html +=                 "<a href='javascript:void(0);' data-commentid='"+ commentData[i].id+"'><svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='#495057' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round' class='feather feather-corner-right-up'><polyline points='10 9 15 4 20 9'></polyline><path d='M4 20h7a4 4 0 0 0 4-4V4'></path></svg></a>";
                    if(commentData[i].parentPath !== '/'){
                        html += "<a style='margin-left: 10px;' href='javascript:void(0);' data-toggle='tooltip' data-placement='top' title='查看对话' data-conversationid='"+commentData[i].id+"'><svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='#495057' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round' class='feather feather-message-circle'><path d='M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z'></path></svg></a>";
                    }
                    html +=             "</div>";
                    html +=             "<div id='reply-container"+ commentData[i].id + "' data-reply='"+commentData[i].id+"'></div>";
                    html +=         "</div>";
                    html += "</li>";
                }


                html += '</ul>';
                html += "<nav aria-label='...'>";
                html += "<ul class='pagination pagination-sm justify-content-center'>";
                if(commentsPageData.totalPage > 1){
                    for(let i = 1; i <= commentsPageData.totalPage; i++){
                        if(commentsPageData.currentPage === i) {
                            html += "<li class='page-item disabled'><a class='page-link' href='javascript:void(0);'>" + i + "</a></li>";
                        } else {
                            html += "<li class='page-item'><a class='page-link' href='javascript:void(0);' data-commentpage='"+i+"'>" + i + "</a></li>";
                        }
                    }
                } else {
                    html+= "<li class='page-item disabled'><a class='page-link' href='javascript:void(0);'>1</a></li>";
                }
                html += "</ul></nav>";

                document.getElementById('comment-container').innerHTML = html;


               for(ele of document.querySelectorAll('a[data-commentid]')){
                   ele.addEventListener('click', function(){
                        let id = this.dataset.commentid;
                        document.getElementById('parentCommentId').value=id;

                        renderCommentForm('reply-container' + id, id);
                        // let replyHtml = '<h1><a id="cancel-reply'+id+'" href="#">取消</a> hello world</h1>';

                        // document.getElementById('reply-container' + id).innerHTML = replyHtml;

                        // document.getElementById('cancel-reply' +id).addEventListener('click', function(){
                        //     replyHtml= "";
                        //     document.getElementById('reply-container' + id).innerHTML = replyHtml;
                        // });

                   });
               }

               for(ele of document.querySelectorAll('a[data-commentpage]')){
                   ele.addEventListener('click', function(){
                       let toPage = this.dataset.commentpage;
                       loadComments(rootPath + 'api/module/template/52/comments?currentPage=' + toPage);
                   });
               }

               for(ele of document.querySelectorAll('a[data-conversationid]')){
                   ele.addEventListener('click', function(){
                       let commentId = this.dataset.conversationid;
                       showConversation(rootPath + 'api/module/template/52/comment/'+ commentId + '/conversation')
                   })
               }
            }
        });
    }

    function renderCommentForm(el, parentCommentId){
        let html = "";
        html += "<form>";
        html += "<input type='text' value='"+parentCommentId+"' id='parentCommentId'>";
        html += "<div class='form-group'>";
        html += "<div class='input-group mb-2'>";
        html += "<div class='input-group-prepend'>";
        html += "<div class='input-group-text'>";
        html += "<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='#495057' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-user'><path d='M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2'></path><circle cx='12' cy='7' r='4'></circle></svg>";
        html += "</div>";
        html += "</div>";
        html += "<input type='text' class='form-control' id='nickname' placeholder='如何称呼您?'>";
        html += "</div>";
        html += "</div>";
        html += "<div class='form-group'>";
        html += "<div class='input-group mb-2'>";
        html += "<div class='input-group-prepend'>";
        html += "<div class='input-group-text'>";
        html += "<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='#495057' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-mail'><path d='M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z'></path><polyline points='22,6 12,13 2,6'></polyline></svg>";
        html += "</div>";
        html += "</div>";
        html += "<input type='text' class='form-control' id='email' placeholder='如何联系您?(获取邮箱只是为了头像)'>";
        html += "</div>";
        html += "</div>";
        html += "<div class='form-group'>";
        html += "<textarea class='form-control' id='content' style='resize: none;' rows='8' placeholder='理性评论'></textarea>";
        html += "</div>";
        html += "<button id='btn-comment-cancel' type='button' class='btn'>取消评论</button>"
        html += "<button id='btn-comment-submit' type='button' onclick='postComment();' class='btn btn-danger'>提交评论</button>";
        html += "</form>";

        document.getElementById(el).innerHTML = html;

        document.getElementById('nickname').value = localStorage.getItem('commentUsername');
        document.getElementById('email').value=localStorage.getItem('commentEmail');
    }


    /**
     * 查看会话
     * @param url url
     */
    function showConversation(url){
        fetch(url, {

        }).then(resp => resp.json())
        .catch(error => console.log(error))
        .then(response => {
            if(response.code === 200){

                Swal.fire({
                    title: "任何一个傻瓜都会用电脑",
                    text: '2秒内自动关闭'
                })

                // $("body").append("<div class=\"modal fade\" id=\"staticBackdrop\" data-backdrop=\"static\" data-keyboard=\"false\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"staticBackdropLabel\" aria-hidden=\"true\">\n" +
                //     "  <div class=\"modal-dialog modal-dialog-centered\">\n" +
                //     "    <div class=\"modal-content\">\n" +
                //     "      <div class=\"modal-header\">\n" +
                //     "        <h5 class=\"modal-title\" id=\"staticBackdropLabel\">Modal title</h5>\n" +
                //     "        <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\">\n" +
                //     "          <span aria-hidden=\"true\">&times;</span>\n" +
                //     "        </button>\n" +
                //     "      </div>\n" +
                //     "      <div class=\"modal-body\">\n" +
                //     "        ...\n" +
                //     "      </div>\n" +
                //     "      <div class=\"modal-footer\">\n" +
                //     "        <button type=\"button\" class=\"btn btn-secondary\" data-dismiss=\"modal\">Close</button>\n" +
                //     "        <button type=\"button\" class=\"btn btn-primary\">Understood</button>\n" +
                //     "      </div>\n" +
                //     "    </div>\n" +
                //     "  </div>\n" +
                //     "</div>");
                //
                // $("#staticBackdrop").modal('show');
            }
        })
    }

</script>
</body>
</html>