<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>李启文</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/blog/css/front.css" th:href="@{/static/blog/css/front.css}">
    <link rel="stylesheet" href="/static/blog/libs/bootstrap/css/bootstrap.min.css" th:href="@{/static/blog/libs/bootstrap/css/bootstrap.min.css}">
    <style>

        .page-link {
            border: none !important;
            font-weight: 500;
            color: #424242;
        }

        .page-link:hover {
            background-color: transparent;
        }

        .blog-footer {
            padding: 2.5rem 0;
            margin-top: 32px;
            color: #999999;
            text-align: center;
            background-color: #f9f9f9;
            border-top: .05rem solid #e5e5e5;
        }
        .blog-footer p:last-child {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
    <div th:replace="header::head('index')"></div>

    <main role="main">
        <!-- 主体部分 -->
        <div class="container my-4">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8">
                    <div class="card mb-4" th:each="article : ${articlePage.data}">
                        <div class="row">
                            <div class="col-4" th:if="${!#strings.isEmpty(article.getFeatureImage())}">
                                <img th:src="${article.featureImage}" class="w-100 h-100 object-cover" alt="Card side image">
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <!-- 标题 -->
                                    <div class="title-article title-article-index">
                                        <a th:href="${#strings.isEmpty(article.urlName) ? '/article/' + article.id : '/article/' + article.urlName}" th:text="${article.title}"></a>
                                    </div>
                                    <!-- 摘要 -->
                                    <div th:if="${!#strings.isEmpty(article.digest)}" th:utext="${article.digest}"></div>

                                    <!--分类 -->
                                    <div>
                                        <a th:href="@{/} + '?category=' + ${article.category.name}" class="badge badge-light"
                                           th:text="${article.category.name}"></a>
                                    </div>
                                    <!-- 标签 -->
                                    <div>
                                        <a th:if="${!#sets.isEmpty(article.tags)}" th:href="@{/} + '?tag=' + ${tag.tagName}" th:each="tag : ${article.tags}">
                                            <span class="badge badge-dark" th:text="${#strings.concat('# ', tag.tagName)}"></span>
                                        </a>
                                    </div>
                                    <!-- 阅读量 + 评论量 -->
                                    <div class="d-flex align-items-center mt-auto">
                                        <span th:text="${#temporals.format(article.createAt, 'yyyy-MM-dd HH:mm:ss')}">2020-07-04 09:21:23</span>
                                        <span style="margin-left: 10px">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><circle cx="12" cy="12" r="2"></circle><path d="M2 12l1.5 2a11 11 0 0 0 17 0l1.5 -2"></path><path d="M2 12l1.5 -2a11 11 0 0 1 17 0l1.5 2"></path></svg>
                                            [[${article.hits}]]
                                        </span>
                                        <span style="margin-left: 10px;">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><path d="M3 20l1.3 -3.9a9 8 0 1 1 3.4 2.9l-4.7 1"></path><line x1="12" y1="12" x2="12" y2="12.01"></line><line x1="8" y1="12" x2="8" y2="12.01"></line><line x1="16" y1="12" x2="16" y2="12.01"></line></svg>
                                            [[${article.comments}]]
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="pagination justify-content-center" th:if="${articlePage.totalPage > 1}">
                        <li class="page-item" th:classappend="${articlePage.currentPage == item ? 'disabled' : ''}" th:each="item: ${#numbers.sequence(1, articlePage.totalPage)}">
                            <a class="page-link" href="javascript:void(0);" th:onclick="'toPage(' + ${item} + ');'" th:text="${item}">1</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 d-none d-block">
                    <h4 th:text="${#temporals.format(latestMomentPage.date, 'yyyy-MM-dd')}"></h4>
                    <div class="card mb-4"  th:each="moment: ${latestMomentPage.moments}" style="cursor: pointer;" th:data-momentid="${moment.id}">
                        <img th:if="${moment.featureImage != null}"  th:src="${moment.featureImage}" class="card-img-top" alt="moment feature image">
                        <div class="card-body">
                            <div class="card-text" th:utext="${moment.content}"></div>
                            <div class="card-text" style="margin-top: 16px;">
                                <span class="font-weight-bold" th:text="${#temporals.format(moment.createAt, 'HH:mm')}">00:53</span>
                                <span style="margin-left: 10px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><circle cx="12" cy="12" r="2"></circle><path d="M2 12l1.5 2a11 11 0 0 0 17 0l1.5 -2"></path><path d="M2 12l1.5 -2a11 11 0 0 1 17 0l1.5 2"></path></svg>
                                    [[${moment.hits}]]
                                </span>

                                <span style="margin-left: 10px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><path d="M3 20l1.3 -3.9a9 8 0 1 1 3.4 2.9l-4.7 1"></path><line x1="12" y1="12" x2="12" y2="12.01"></line><line x1="8" y1="12" x2="8" y2="12.01"></line><line x1="16" y1="12" x2="16" y2="12.01"></line></svg>
                                    [[${moment.comments}]]
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>



    <footer class="blog-footer">
        <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>
    <script type="text/javascript" src="/static/blog/libs/jquery/jquery-3.5.1.js" th:src="@{/static/blog/libs/jquery/jquery-3.5.1.js}"></script>
    <script type="text/javascript" src="/static/blog/libs/bootstrap/js/bootstrap.bundle.js" th:src="@{/static/blog/libs/bootstrap/js/bootstrap.bundle.js}"></script>

    <script>
        const rootPath = '[[@{/}]]';
        function toPage(i){
            document.getElementById('currentPage').value = i;
            document.getElementById('queryForm').submit();
        }
        for(const elem of document.querySelectorAll('[data-momentid]')){
            elem.addEventListener('click', function(){
                let id = this.dataset.momentid;
                window.location.href= rootPath + 'moment/' + id;
            });
        }
    </script>
</body>
</html>