<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="用户登录">用户登录</title>
    <meta name="description" content="blog login">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/static/blog/css/login.css}">
</head>
<body>
<div class="container">
    <h1>LOGIN</h1>
    <div class="msg" id="errorMsg" style="display: none;" th:text="登录失败"></div>
    <form action="#">
        <input autocomplete="off" class="tbx" type="text" autofocus id="inputUsername" required placeholder="用户名">
        <input autocomplete="off" class="tbx" type="password" id="inputPassword" required placeholder="密码">
        <input autocomplete="off" class="tbx" style="display: none;" type="text" maxlength="6" id="inputTopCode" placeholder="二次认证码">
        <input type="button" id="btn-login" class="sub" value="登录" >
        <input type="button" id="btn-top-auth" style="display: none;" class="sub" value="二次认证">
        <a class="back" th:href="@{/}">回首页</a>
    </form>
</div>
<script type="text/javascript" src="/static/blog/js/login.js"></script>
</body>
</html>