<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="用户登录">用户登录</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- bootstrap core css -->
    <link rel="stylesheet" th:href="@{/static/blog/libs/bootstrap/css/bootstrap.min.css}">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- custom styles for login -->
    <link rel="stylesheet" th:href="@{/static/blog/css/login.css}">
</head>
<body class="text-center">
    <div class="form-signin">
<!--        <img class="mb-4" src="/docs/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputUsername" class="sr-only">用户名</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" id="inputRemember" value="remember-me"> Remember me
            </label>
        </div>
        <button id="btn-login" class="btn btn-primary btn-block" type="button">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
    </div>

    <!-- jquery core js -->
    <script type="text/javascript" th:src="@{/static/blog/libs/jquery/jquery-3.5.1.js}"></script>
    <!-- bootstrap core js -->
    <script type="text/javascript" th:src="@{/static/blog/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <script>

        const rootPath = '[[@{/}]]';

        document.getElementById('btn-login').addEventListener('click', function(){

            const username = document.getElementById('inputUsername').value;
            const password = document.getElementById('inputPassword').value;
            const rememberMe = document.getElementById('inputRemember').checked;

            const data = {
                'username': username,
                'password': password,
                'rememberMe': rememberMe
            }

            fetch(rootPath + 'login', {
                method: 'POST',
                body: JSON.stringify(data),
                headers: new Headers({
                    'Content-Type':'application/json;charset=UTF-8'
                })
            }).then(res => {
                return res.json();
            }).catch(error => {
                console.error('Error:', error)
            }).then(response => {
                let redirectParams = window.location.search;
            });
        });
    </script>
</body>
</html>