<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="系统设置">系统设置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" th:href="@{/static/blog/images/logoH.png}" >
    <link rel="stylesheet" th:href="@{/static/css/base.css}">
    <link rel="stylesheet" th:href="@{/static/blog/libs/bootstrap/css/bootstrap.min.css}">
    <style>
        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }

        .nav-scroller .nav-link {
            padding-top: .75rem;
            padding-bottom: .75rem;
            font-size: .875rem;
        }
    </style>
</head>
<body>
<div th:replace="/console/common/head-navbar::headnav('config')"></div>
    <div class="nav-scroller bg-white py-1 mb-2">
        <div class="container">
            <nav class="nav d-flex justify-content-start">
                <a class="p-2 text-muted" th:href="@{/console/articles}"><small>返回个人主页</small></a>
                <a class="p-2 text-muted" th:href="@{/console/config/profile}"><small>个人资料</small></a>
                <a class="p-2 text-muted" th:href="@{/console/config/accout}"><small>账号设置</small></a>
            </nav>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="card bg-white shadow-sm border-0">
                    <div class="card-body">
                        <h3 class="py-3" style="font-weight: 600; color: #222222;">账号设置</h3>
                        <div class="dropdown-divider py-3"></div>
                        <div class="form-group row">
                            <label for="phone" class="col-sm-2 col-form-label">手机</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="phone">
                            </div>
                            <div class="col-sm-2 text-right align-self-center">
                                <a href="#">换绑</a>
                            </div>
                        </div>
                        <div class="dropdown-divider py-3"> </div>
                        <div class="form-group row">
                            <label for="wechat" class="col-sm-2 col-form-label">微信</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="wechat">
                            </div>
                            <div class="col-sm-2 text-right align-self-center">
                                <a href="#">解绑</a>
                            </div>
                        </div>
                        <div class="dropdown-divider py-3"> </div>
                        <div class="form-group row">
                            <label for="webo" class="col-sm-2 col-form-label">新浪微博</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="webo">
                            </div>
                            <div class="col-sm-2 text-right align-self-center">
                                <a href="#">绑定</a>
                            </div>
                        </div>
                        <div class="dropdown-divider py-3"> </div>
                        <div class="form-group row">
                            <label for="github" class="col-sm-2 col-form-label">Github</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="github">
                            </div>
                            <div class="col-sm-2 text-right align-self-center">
                                <a href="#">绑定</a>
                            </div>
                        </div>
                        <div class="dropdown-divider py-3"> </div>
                        <div class="form-group row">
                            <label for="password" class="col-sm-2 col-form-label">密码</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="password">
                            </div>
                            <div class="col-sm-2 text-right align-self-center">
                                <a href="#">重置</a>
                            </div>
                        </div>

                        <div class="dropdown-divider"> </div>
                        <div class="form-group row">
                            <label for="relax" class="col-sm-2 col-form-label">注销账号</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="relax">
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary">保存修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--<div class="container">-->
<!--    <div class="content">-->
<!--        <div class="container-xl">-->
<!--            <div class="row">-->
<!--                <div class="col-md-2">-->
<!--                    <div>-->
<!--                        <div class="list-group list-group-transparent mb-0">-->
<!--                            <a href="javascript:void(0);" th:data-config="BlogConfig" class="list-group-item list-group-item-action d-flex align-items-center active">-->
<!--                                博客配置-->
<!--                            </a>-->
<!--                            <a href="javascript:void(0);" th:data-config="BlogConfigEmail" class="list-group-item list-group-item-action d-flex align-items-center">-->
<!--                                邮箱配置-->
<!--                            </a>-->
<!--                            <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex align-items-center">-->
<!--                                SEO 配置-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-10" id="config-content">-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->

<script type="text/javascript" th:src="@{/static/blog/libs/jquery/jquery-3.5.1.js}"></script>
<script type="text/javascript" th:src="@{/static/blog/libs/bootstrap/js/bootstrap.bundle.js}"></script>
<script type="text/javascript" th:src="@{/static/blog/libs/sweetalert/sweetalert2-2.9.js}"></script>
<script type="text/javascript" th:src="@{/static/blog/js/Toast.js}"></script>
<script>
    const rootPath = '[[@{/}]]';
    for(const ele of document.querySelectorAll('[data-config]')){
        ele.addEventListener('click', function(){
            const key =  this.dataset.config;
            // fetch('/console/config?key=' + key,)
            //     .then(function(response) { // When the page is loaded convert it to text
            //         return response.text()
            //     })
            //     .then(function(html) { // Initialize the DOM parser
            //          let parser = new DOMParser(); // Parse the text
            //              // You can now even select part of that html as you would in the regular DOM // Example: // var docArticle = doc.querySelector('article').innerHTML; ;
            //          let doc = parser.parseFromString(html, "text/html");
            //         // console.log(doc.body);
            //         document.getElementById('config-content').innerHTML = String.valueOf(doc.body);
            //     })
            //     .catch(function(err) {
            //         console.log('Failed to fetch page: ', err);
            //     });


            fetch(rootPath + 'console/config?key=' + key, {
                method: 'GET',
            }).then(function(response) {
                response.text().then(function(text){
                    console.log(text);
                    document.getElementById('config-content').innerHTML = text;
                });
            });
        });
    }
</script>
</body>
</html>