<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.lqw.blog8.mapper.BlackIpMapper">

    <resultMap id="BlackIpMap" type="BlackIp">
        <id property="id" column="id"/>
        <result property="ip" column="ip"/>
        <result property="address" column="address"/>
        <result property="createAt" column="create_at"/>
        <result property="modifyAt" column="modify_at"/>
    </resultMap>



    <select id="selectByIp" parameterType="string" resultMap="BlackIpMap">
        select id, ip, address, create_at, modify_at
        from blog_blackip where ip = #{ip,jdbcType=INTEGER}
    </select>


    <select id="selectById" parameterType="integer" resultMap="BlackIpMap">
        select id, ip, address, create_at, modify_at from blog_blackip
        where id = #{id}
    </select>

    <insert id="insert" parameterType="BlackIp" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        <selectKey keyProperty="id" keyColumn="id" resultType="integer">
            select last_insert_id()
        </selectKey>
        insert into blog_blackip(ip, address, create_at, modify_at)
        values (#{ip,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
               now(), now())
    </insert>

    <delete id="deleteById" parameterType="integer">
        delete from blog_blackip where id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="selectAll" resultMap="BlackIpMap">
        select id, ip, address, create_at, modify_at from blog_blackip order by create_at desc
    </select>

    <update id="update" parameterType="BlackIp">
        update blog_blackip
            <set>
                <if test="ip != null and ip != ''">
                    ip = #{ip,jdbcType=VARCHAR},
                </if>
                modify_at = now(),
            </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


</mapper>