<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="评论列表"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/static/images/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/tabler/dist/css/tabler.min.css">
    <link rel="stylesheet" href="/static/tabler/dist/css/tabler-buttons.min.css" />
    <link rel="stylesheet" href="/static/tabler/dist/css/demo.min.css">
</head>
<body class="antialiased">
    <div class="page">
        <div th:replace="/console/common/head-navbar::headnav('comment')"></div>
        <form th:action="@{/console/comments}" id="queryForm" method="get">
        <div class="content">
        <div class="container-xl">
            <!-- Page title -->
            <div class="page-header">
                <div class="row row-sm align-items-center">
                    <div class="col-6 col-sm-4 col-md-2 col-xl-auto">
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#modal-team" class="btn btn-blue btn-block">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
                            新标签
                        </a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap datatable">
                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    标签名称
                                </th>
                                <th>
                                    创建时间
                                </th>
                                <th>
                                    修改时间
                                </th>
                                <th class="w-1"></th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
<!--                <div class="card-footer d-flex align-items-center">-->
<!--                    <p class="m-0 text-muted">显示 <span>1</span> 到 <span th:text="${tagPage.totalPage}">8</span> 页, 共 <span th:text="${tagPage.totalRow}">16</span> 条记录</p>-->
<!--                    <ul class="pagination m-0 ml-auto" th:if="${tagPage.totalPage > 0}">-->
<!--                        <li class="page-item" th:classappend="${tagPage.currentPage == 1 ? 'disabled' : ''}">-->
<!--                            <a class="page-link" href="javascript:void(0);" th:onclick="'toPage(1);'" tabindex="-1">-->
<!--                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><polyline points="11 7 6 12 11 17"></polyline><polyline points="17 7 12 12 17 17"></polyline></svg>-->
<!--                                首页-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="page-item" th:classappend="${tagPage.currentPage == 1 ? 'disabled' : ''}">-->
<!--                            <a class="page-link" href="javascript:void(0);" th:onclick="'toPage(' + ${tagPage.currentPage - 1} + ');'" tabindex="-1">-->
<!--                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><polyline points="15 6 9 12 15 18" /></svg>-->
<!--                                上一页-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="page-item" th:classappend="${tagPage.currentPage == item ? 'active' : ''}" th:each="item: ${#numbers.sequence(1, tagPage.totalPage)}">-->
<!--                            <a class="page-link" href="javascript:void(0);" th:onclick="'toPage(' + ${item} + ');'" th:text="${item}">1</a>-->
<!--                        </li>-->
<!--                        <li class="page-item" th:classappend="${tagPage.currentPage == tagPage.totalPage ? 'disabled' : ''}">-->
<!--                            <a class="page-link" href="javascript:void(0);" th:onclick="'toPage(' + ${tagPage.currentPage + 1} + ');'">-->
<!--                                下一页 <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><polyline points="9 6 15 12 9 18" /></svg>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="page-item" th:classappend="${tagPage.currentPage == tagPage.totalPage ? 'disabled' : ''}">-->
<!--                            <a class="page-link" href="javascript:void(0);" th:onclick="'toPage(' + ${tagPage.totalPage} + ');'">-->
<!--                                尾页-->
<!--                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><polyline points="7 7 12 12 7 17"></polyline><polyline points="13 7 18 12 13 17"></polyline></svg>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
            </div>
        </div>
    </div>
<!--        <input type="hidden" id="currentPage" name="currentPage" th:value="${tagPage.currentPage}">-->
<!--        <input type="hidden" id="pageSize" name="pageSize" th:value="${tagPage.pageSize}">-->
    </form>
    </div>




<script type="text/javascript" src="/static/tabler/dist/libs/jquery/dist/jquery-3.3.1.js"></script>
<!-- Libs JS -->
<script type="text/javascript" src="/static/tabler/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- Tabler Core -->
<script type="text/javascript" src="/static/tabler/dist/js/tabler.min.js"></script>
<script>
    document.body.style.display = "block";
</script>
<script>
    function toPage(i){
        document.getElementById('currentPage').value = i;
        document.getElementById('queryForm').submit();
    }
</script>


</body>
</html>