<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="评论列表">评论列表管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/static/css/base.css}">
    <link rel="stylesheet" th:href="@{/static/blog/libs/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/blog/libs/markdown/github-markdown.css}">
</head>
<body>
    <!-- 头部导航部分 -->
    <div th:replace="/console/common/head-navbar::headnav('comment')"></div>

    <!-- 内容部分 -->
    <div class="container">
        <div class="row my-4">
            <div class="col-9">
                <div class="media bg-white p-4 rounded shadow-sm">
                    <img src="/static/blog/images/logoH.png" class="mr-3 rounded align-self-center" alt="...">
                    <div class="media-body">
                        <h3 class="mt-0" style="font-weight: 600; color: #222222;">石杉的架构笔记</h3>
                        <div>Java 开发工程师 @湖北良品铺子食品有限公司</div>
                        <div>Java、Android、Web</div>
                    </div>
                </div>

                <ul class="list-unstyled bg-white shadow-sm mt-4" style="border-radius: 4px;">
                    <li class="media" style="padding: 15px; border-bottom: 1px solid #eeeeee;">
                        <img src="/static/blog/images/logoH.png" style="height: 32px; width: 32px; margin-right: 10px" class="rounded" alt="...">
                        <div class="media-body">
                            <div class="mt-0">Redis 持久化</div>
                            <div><small class="text-muted">2020-09-02 15:24:12</small></div>
                            <div class="markdown-body">
                                @PeterChu 后续应该可以支持不推送也能集成 VComment 的方案，只是在 v4.3.0 中暂时不考虑实现，等待收集反馈后再进一步做研究。
                            </div>
                        </div>
                    </li>
                    <li class="media" style="padding: 15px; border-bottom: 1px solid #eeeeee;">
                        <img src="/static/blog/images/logoH.png" style="height: 32px; width: 32px; margin-right: 10px" class="rounded" alt="...">
                        <div class="media-body">
                            <div class="mt-0 mb-1">List-based media object</div>
                            <div><small class="text-muted">2020-09-02 15:24:12</small></div>
                            <div>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                    </li>
                    <li class="media" style="padding: 15px; border-bottom: 1px solid #eeeeee;">
                        <img src="/static/blog/images/logoH.png" style="height: 32px; width: 32px; margin-right: 10px" class="rounded" alt="...">
                        <div class="media-body">
                            <div class="mt-0 mb-1">List-based media object</div>
                            <div><small class="text-muted">2020-09-02 15:24:12</small></div>
                            <div>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                    </li>
                    <li class="media" style="padding: 15px; border-bottom: 1px solid #eeeeee;">
                        <img src="/static/blog/images/logoH.png" style="height: 32px; width: 32px; margin-right: 10px" class="rounded" alt="...">
                        <div class="media-body">
                            <div class="mt-0 mb-1">List-based media object</div>
                            <div><small class="text-muted">2020-09-02 15:24:12</small></div>
                            <div>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="pagination justify-content-center m-0 ml-auto">
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0);">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0);">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0);">3</a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <div class="card border-0 bg-white shadow-sm">
                    <div class="card-header bg-white" style="font-weight: 600; color: #222222;">
                        数据汇总
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item border-0">内容评论数<strong class="ml-2">723</strong></li>
                        <li class="list-group-item border-0">动态评论数<strong class="ml-2">182,723</strong></li>
                        <li class="list-group-item border-0">留言板评论数<strong class="ml-2">12,999</strong></li>
                        <li class="list-group-item border-0">未审核评论<strong class="ml-2">2020-09-02</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/static/blog/libs/jquery/jquery-3.5.1.js}"></script>
    <script type="text/javascript" th:src="@{/static/blog/libs/bootstrap/js/bootstrap.bundle.js}"></script>


</body>
</html>