<header class="navbar navbar-expand-lg navbar-light bg-white shadow-sm" th:fragment="headnav(type)" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <a class="navbar-brand" th:href="@{/console/home}">后台管理</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/console/articles}">文章</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/console/moments}">动态</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/console/comments}">评论</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/console/files}">文件</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        偏好设定
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/console/tags}">标签</a>
                        <a class="dropdown-item" th:href="@{/console/categories}">分类</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/console/blackips}">黑名单</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">备份</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                   <a class="nav-link" id="btn-logout" href="javascript:void(0);">退出</a>
                </li>
            </ul>
        </div>
    </div>
</header>